
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	margin-top: 20px;
}

.panel{
    display:flex;
    align-items: center;
    gap: 27px;
    font-size: 14px;
}

.panel-item{
    display:flex;
    align-items: center;
    gap: 10px;
    line-height: 20px;
    color: var(--black);
    text-decoration: none;
}

.favorites_{
    font-weight: 400px;
}

.search_{
    font-weight: 700px;
}

.favorites-count{
    display: flex;
    align-items: center;
}

